@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    outline: none;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

img,
button,
iframe,
a {
    user-select: none;
}

.fadeIn {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.myShadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input:user-invalid {
    border: 1.5px solid rgba(255, 0, 0, 0.416);
}

.glass {
    background: rgba(255, 255, 255, 0.199);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/* ===================== */

.menu-panel {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease, transform .2s ease
}

[data-menu][data-open]>.menu-panel,
[data-menu]:hover>.menu-panel {
    visibility: visible;
    opacity: 1;
    pointer-events: auto
}

.menu-panel.menu-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto
}

.sheet {
    transform: translateY(100%);
    transition: transform .25s ease
}

.sheet-open .sheet {
    transform: translateY(0)
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@media screen and (max-width: 767px) {
    .lang-wrap{
        overflow: hidden;
    }
}